#about_text{
  position: relative;
  top: 20vh;
  color: white;
  text-align: center;
  padding: 5vh 2.5vw;
  font-size: 22px;
  max-width: 45vw;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.footer{
  position: relative;
  top: 27.5vh;
}
